@media (min-width:540px){
    .container{
        max-width: 720px;
    }
    .info-store{
        display: block;
    }
    .preview-inner{
        text-align: center;
        background-image: none;
        display: block;
        h1{
            font-size: 60px;
        }
        p{
            font-size: 20px;
        }
        img{
            max-width: 540px;
            display: block;
        }
    }
}